<section class="about">
	<div class="container">
		<p class="subtitle-section">About</p>
		<h2 class="title-section">
			History of my development:
		</h2>
		<div class="about__items">
			<div class="about__item">
				<p class="about__year">2015</p>
				<p class="about__text">
					First project. Blog for the teacher
				</p>
			</div>
			<div class="about__item">
				<p class="about__year">2016</p>
				<p class="about__text">
					Development of the first mobile application
				</p>
			</div>
			<div class="about__item">
				<p class="about__year">2017</p>
				<p class="about__text">
					The portfolio includes over 100 projects
				</p>
			</div>
			<div class="about__item">
				<p class="about__year">2018</p>
				<p class="about__text">
					First international project
				</p>
			</div>
			<div class="about__item">
				<p class="about__year">2019</p>
				<p class="about__text">
					Launching a personal web development course
				</p>
			</div>
			<div class="about__item">
				<p class="about__year">2020</p>
				<p class="about__text">
					Started working in Google
				</p>
			</div>
		</div>
	</div>
</section>