<section class="calc" id='contacts'>
	<div class="calc__container margin-auto">
		<div class="calc__inner">
			<h3 class="title-section  calc__title">
				Calculate the timing and cost of&nbsp;your project
			</h3>
			<p class="calc__subtitle subtitle-section">
				Leave your phone number for communication
			</p>
			<form class="calc-form">
				<input type="text" class="calc-form__input input-reset" placeholder="Name" name='name'>
				<input type="text" class="calc-form__input input-reset" placeholder="Phone" name='phone'>
				<textarea name="massage" class="calc-form__message input-reset" placeholder="Massage"></textarea>
				<button class="btn-reset calc-form__btn">Discuss the project</button>
			</form>
		</div>
	</div>
</section>