<header class="header">
	<div class="container margin-auto display-f justify-beetwen align-center pd-top-30 pd-bottom-30">
		<div class="header-logo">
			<h3 class="header-logo__title">
				Portfolio
			</h3>
			<p class="header-logo__subtitle">
				Web developer
			</p>
		</div>
		<nav class="nav">
			<ul class="nav__list display-f align-center">
				<li class="nav__item mr-left-40">
					<a href="#" class="nav__link pd-bottom-5">About</a>
				</li>
				<li class="nav__item mr-left-40">
					<a href="#" class="nav__link pd-bottom-5">Projects</a>
				</li>
				<li class="nav__item mr-left-40">
					<a href="#" class="nav__link pd-bottom-5">Reviews</a>
				</li>
				<li class="nav__item mr-left-40">
					<a href="#" class="nav__link pd-bottom-5">Contacts</a>
				</li>
			</ul>
		</nav>
	</div>
</header>