<section class="hero">
	<div class="container gird-20g">
		<div class="hero__info grid-span-5">
			<h3 class="hero__title mr-bottom-25">
				Michael
				Scofield
			</h3>
			<p class="hero__subtitle mr-bottom-40">
				Fullstack web developer
			</p>
			<div class="hero-btns display-f flex-wrap">
				<div class="hero-btns__box">
					<button class="btn-reset hero-btns__item">UI / UX Design</button>
					<button class="btn-reset hero-btns__item">QA Testing</button>
				</div>
				<div class="hero-btns__box">
					<button class="btn-reset hero-btns__item">Mobile Apps</button>
					<button class="btn-reset hero-btns__item">Web development</button>
				</div>
			</div>
		</div>
		<div class="canvas">
			<canvas id='canvasOne' width="532" height="532"></canvas>
		</div>
	</div>
</section>