<div class="modal pos-fix pos-absol-all">
	<div class="container items-center modal__container">
		<div class="modal__inner items-center flex-dc">
			<button class='modal__btn--close btn-reset'>
				<svg class='btn-close' width='10' height='10'>
					<use xlink:href=images/dest/sprite.svg#btnClose></use>
				</svg>
			</button>
			<p class="modal__text">
				Сontact me:
			</p>
			<form class="modal-form flex-dc items-center">
				<input class="modal-form__input" type="text" name="name" placeholder="Name">
				<textarea class="modal-form__textarea" name="messege" placeholder="Messege"></textarea>
				<button class="modal-form__btn btn-reset" type="submit">Discuss the project</button>
			</form>
		</div>
	</div>
</div>