<section class="project">
	<div class="container">
		<p class="subtitle-section">Project</p>
		<h2 class="title-section">
			100+ projects on different topics:
		</h2>
		<div class="project-box">
			<div class="project-tabs display-f flex-wrap">
				<button class="btn-reset project-tabs__item project-tabs__item--active"
					data-filter='blogs'>Blogs</button>
				<button class="btn-reset project-tabs__item" data-filter='crm'>CRM</button>
				<button class="btn-reset project-tabs__item" data-filter='educational'>Educational platform</button>
				<button class="btn-reset project-tabs__item" data-filter='banking'>Banking applications</button>
				<button class="btn-reset project-tabs__item" data-filter='mobile'>Mobile applications</button>
				<button class="btn-reset project-tabs__item" data-filter='mobileGames'>Mobile games</button>
				<button class="btn-reset project-tabs__item" data-filter='social'>Social networks</button>
			</div>
			<div class="project-content gird-20g" data-content='blogs'>
				<h4 class="project-content__title grid-span-4">Blogs</h4>
				<div class="project-content__blogs project-blocks grid-span-8">
					<div class="project-blocks__item">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 1
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 2
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 3
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>

				</div>
			</div>
			<div class="project-content gird-20g" data-content='crm'>
				<h4 class="project-content__title grid-span-4">CRM</h4>
				<div class="project-content__blogs project-blocks grid-span-8">
					<div class="project-blocks__item">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 1
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 2
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 3
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>

				</div>
			</div>
			<div class="project-content gird-20g" data-content='educational'>
				<h4 class="project-content__title grid-span-4">Educational platform</h4>
				<div class="project-content__blogs project-blocks grid-span-8">
					<div class="project-blocks__item">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 1
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 2
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 3
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>

				</div>
			</div>

			<div class="project-content gird-20g" data-content='banking'>
				<h4 class="project-content__title grid-span-4">Banking applications</h4>
				<div class="project-content__blogs project-blocks grid-span-8">
					<div class="project-blocks__item">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 1
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 2
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 3
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 4
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
				</div>
			</div>
			<div class="project-content gird-20g" data-content='mobile'>
				<h4 class="project-content__title grid-span-4">Mobile applications</h4>
				<div class="project-content__blogs project-blocks grid-span-8">
					<div class="project-blocks__item">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 1
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 2
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 3
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>

				</div>
			</div>
			<div class="project-content gird-20g" data-content='mobileGames'>
				<h4 class="project-content__title grid-span-4">Mobile games</h4>
				<div class="project-content__blogs project-blocks grid-span-8">
					<div class="project-blocks__item">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 1
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 2
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 3
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
				</div>
			</div>
			<div class="project-content gird-20g" data-content='social'>
				<h4 class="project-content__title grid-span-4">Social networks</h4>
				<div class="project-content__blogs project-blocks grid-span-8">
					<div class="project-blocks__item">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 1
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 2
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
					<div class="project-blocks__item ">
						<button class="btn-reset project-blocks__btn display-f justify-beetwen align-center">
							Blogs 3
							<svg class='project-blocks__arrow'>
								<use xlink:href=images/dest/sprite.svg#arrowDeg></use>
							</svg>
						</button>
						<p class="project-blocks__text">
							some kind of link to the site
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>