<section class="reviews" id='reviews'>
	<div class="container">
		<p class="subtitle-section reviews__subtitle">reviews</p>
		<h3 class="title-section reviews__title">What my clients say about me:</h3>
	</div>
	<div class="swiper-box">
		<div class="swiper-container">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper display-f align-stretch">
				<!-- Slides -->
				<div class="swiper-slide">
					<div class="reviews-user display-f flex-dc align-center justify-center">
						<img src="./images/dest/user1.webp" alt="user">
						<p class="reviews-user__name">
							Lincoln Burrows
						</p>
						<p class="reviews-user__text">
							Thanks to Michael for doing everything efficiently on time and without broaches. I recommend
							this
							specialist for work.
							Special thanks to Michael for the work that was not included in the original.
						</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="reviews-user display-f flex-dc align-center justify-center">
						<img src="./images/dest/user1.webp" alt="user">
						<p class="reviews-user__name">
							Gretchen Morgan
						</p>
						<p class="reviews-user__text">
							Thank you very much for your work, the project was completed very quickly and efficiently. I
							recommend it as a reliable
							performer! I will contact you in the future.
						</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="reviews-user display-f flex-dc align-center justify-center">
						<img src="./images/dest/user1.webp" alt="user">
						<p class="reviews-user__name">
							Paul Kellerman
						</p>
						<p class="reviews-user__text">
							The performer who specifically understands the task. Very cool and easy to communicate. I
							did an
							excellent job, I will
							contact you. I advise everyone!
						</p>
					</div>
				</div>
			</div>
			<!-- If we need navigation buttons -->

		</div>
		<div class="swiper-arrow__box">
			<div class="swiper-button-prev">
				<svg class='slider-btn__arrow slider-btn__arrow--prev' width=42 height=23>
					<use xlink:href=images/dest/sprite.svg#arrow></use>
				</svg>
			</div>
			<div class="swiper-button-next">
				<svg class='slider-btn__arrow slider-btn__arrow--next' width=42 height=23>
					<use xlink:href=images/dest/sprite.svg#arrow></use>
				</svg>
			</div>
		</div>
	</div>
</section>