<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/style.min.css">
	<title>gulp</title>
</head>

<body>
	<div class="wrapper pos-rel">
		@include('./blocks/header.html')
		<main class="main">
			@include('./blocks/hero.html')
			@include('./blocks/about.html')
			@include('./blocks/project.html')
			@include('./blocks/slogan.html')
			@include('./blocks/reviews.html')

		</main>
		@include('./blocks/footer.html')
		<div class="decor-lines pos-absol pos-absol-all display-f justify-beetwen">
			<span class="decor-lines__line display-b"></span>
			<span class="decor-lines__line display-b"></span>
			<span class="decor-lines__line display-b"></span>
			<span class="decor-lines__line display-b"></span>
		</div>
		@include('./blocks/modal.html')
	</div>
	<script src="./js/main.min.js"></script>
</body>

</html>