.project {
	margin-bottom: 100px;
}

.project-tabs {


	&__item {
		position: relative;
		color: rgba($white, .6);
		font: $font-text-middle;
		margin-bottom: 30px;
		padding-left: 20px;

		&::before {
			content: '';
			transition: all 0.3s ease-in-out;
			background-color: transparent;
			border-radius: 50%;
		}

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.project-tabs__item--active {


	&::before {

		content: '';
		width: 67px;
		height: 67px;
		background-color: $primery;

		position: absolute;
		top: -17px;
		left: 3px;
		z-index: -1;
	}
}

.project-blocks {
	&__item {
		margin-bottom: 20px;
	}

	&__btn {
		width: 100%;
		font: $font-text-middle;
		color: $white;
		padding: 0;
		margin-bottom: 10px;

		&:hover {
			color: $primery;
		}
	}

	&__text {
		transition: all .3s ease-in-out;
		max-height: 0;
		opacity: 0;
		will-change: max-height;
	}

	&__arrow {
		transition: all .3s ease-in-out;
		width: 27px;
		height: 26px;
		transform: rotate(90deg);
	}
}

.project-blocks__item--open {
	.project-blocks__btn {
		color: $primery;
	}

	.project-blocks__arrow {
		transform: rotate(0deg);
	}

	.project-blocks__text {
		opacity: 1;
	}
}