// colors
$bgMain : #1f1f1f;
$black : #000000;
$white: #ffffff;
$primery: #1378ef;

// size fonts

$montserrat: 'Montserrat';

$font-default: 400 16px /27px $montserrat;
$font-section-title: 700 46px / 55px $montserrat;
$font-section-subtitle: 400 20px / 34px $montserrat;