// colors
$bgMain : #1f1f1f;
$black : #000000;
$white: #ffffff;
$primery: #1378ef;

// size fonts

$montserrat: 'Montserrat';

$font-default: 400 16px /27px $montserrat;
$font-text-middle: 400 21px/31px $montserrat;
$font-section-title: 700 46px / 55px $montserrat;
$font-section-subtitle: 400 20px / 34px $montserrat;
$font-big: 700 78px/90px $montserrat;
$font-middle: 400 30px / 40px $montserrat;